#e{
    margin-left: 5%;
}
#ph{
    margin-left: 5%;
}
#c{
    margin-left: 5%;
}
#re{
    margin-left: 5%;
}
#p{
    margin-left: 5%;
}
#r{
    margin-left: 5%;
}
#text{
   top: 0; 
}  